ToDoListApp/packages/
ToDoListApp/ToDoListApp/ToDoListApp.Droid/obj/
ToDoListApp/ToDoListApp/ToDoListApp.Droid/bin/Debug/MvvmHelpers.pdb
ToDoListApp/ToDoListApp/ToDoListApp/obj/Debug/ToDoListApp.Views.ToDoItemPage.xaml.g.cs
ToDoListApp/ToDoListApp/ToDoListApp/bin/Debug/SQLite-net.xml
ToDoListApp/ToDoListApp/ToDoListApp/obj/
ToDoListApp/ToDoListApp/ToDoListApp.Droid/bin/
ToDoListApp/ToDoListApp/ToDoListApp/bin/
ToDoListApp/ToDoListApp/ToDoListApp.iOS/obj/
